<div class="row align-center">
<div class="card columns small-11 medium-8 large-8 patient-info">

<% if @patients.length != 0 %>
  <% if @patients[0].nil? %>
    <p class="callout alert">We couldn’t find that record. Please try again.</p>
  <% end %>
<% end %>
<h1 class="">Search Patients</h1>
<%= render 'search' %> <a href=""></a>
<!-- Optional earch results display -->

<% if @patients.length != 0 %>
    <% unless @patients[0].nil? %>
        <div class="result-box">
            <h2>Search Results</h2>
                <a href="">
                <span class="result-name">
                    <%= "#{@patients[0].first_name} #{@patients[0].last_name}" %></span>
                <div>
                    <span><strong>Patient #:</strong> <%= "#{@patients[0].patient_id}" %></span> 
                    <span><strong>Date of Birth:</strong> <%= "#{@patients[0].dob}" %></span> 
                    <span><strong>Age:</strong> <%= "#{@patients[0].age}" %></span>
                </div>
                </a>
        </div>
    <% end %>
<% end %>

</div>
</div>
