<p id="notice"><%= notice %></p>

<h1>Search Patients</h1>
<%= render 'search' %>

<% if @patients.length != 0 && !@patients[0].nil? %>
  <% @patients.each_with_index do |patient, index|%>
    <%= link_to(patient) do %>
      <strong><%= index + 1 %>. <%= patient.first_name%> <%=patient.last_name %></strong>
    <% end %>
    <br />
  <% end %>
<% else %>
  <p>No Patients</p>
<% end %>