<div class="row align-center">
<div class="card columns small-8">
<% if @patient.record_number < 5 %>
    <div class="callout success">
        <h3><i class="fa fa-check-circle" aria-hidden="true"></i> Up To Date</h3>
        <p>The patient is up to date</p>
    </div>
<% elsif @patient.record_number < 10 %>
    <div class="callout warning">
        <h3><i class="fa fa-question-circle" aria-hidden="true"></i>
 Review Needed</h3>
        <p>Please have a nurse review the record</p>
    </div>
<% else %>
    <div class="callout alert">
    <h3><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Vaccine Due</h3>
    <p>The patient requires additional vaccines</p>
    </div>
<% end %>
</div>
</div>
<div class="row align-center">
<div class="card columns small-8 patient-info p1">
    <h3></h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Patient #</th>
                <th>Date of Birth</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @patient.first_name%> <%= @patient.last_name %></td>
                <td><%= @patient.record_number %></td>
                <td><%= @patient.dob.strftime("%m/%d/%Y")%> </td>
                <td><%= @patient.age%></td>
            </tr>
        </tbody>
    </table>
</div>
</div>

