<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="row align-center">
        <div class="card columns small-12 large-8 medium-8 patient-info">
            <p>Printed DATE at TIME from ReqCheck.</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Patient #</th>
                        <th>Date of Birth</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= @patient.first_name%> <%= @patient.last_name %></td>
                        <td><%= @patient.record_number %></td>
                        <td><%= @patient.dob.strftime("%m/%d/%Y")%></td>
                        <td><%= @patient.age%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row align-center">
        <div class="card columns small-12 large-8 medium-8" id="callout-patient">
            <%if @patient.record_number < 5 %>
            <div class="callout success">
                <svg width="70" height="70" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z" fill="#fff"/></svg>
                <h2>Up To Date</h2>
                <p>The patient is up to date. Next vaccine due: VAX on
                DATE.</p>
            </div><%elsif @patient.record_number < 10 %>
            <div class="callout warning">
                <svg width="70" height="70" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M1024 1376v-192q0-14-9-23t-23-9h-192q-14 0-23 9t-9 23v192q0 14 9 23t23 9h192q14 0 23-9t9-23zm256-672q0-88-55.5-163t-138.5-116-170-41q-243 0-371 213-15 24 8 42l132 100q7 6 19 6 16 0 25-12 53-68 86-92 34-24 86-24 48 0 85.5 26t37.5 59q0 38-20 61t-68 45q-63 28-115.5 86.5t-52.5 125.5v36q0 14 9 23t23 9h192q14 0 23-9t9-23q0-19 21.5-49.5t54.5-49.5q32-18 49-28.5t46-35 44.5-48 28-60.5 12.5-81zm384 192q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z" fill="#000"/></svg>
                <div class="explanation">
                    <h2>Review Needed</h2>
                    <p>Please have a nurse review the record.</p>
                    <ul>
                        <li><strong>Invalid vaccine:</strong> the VAX
                        dose given on DATE was not valid, because it was given
                        X days after the first dose. These doses must be given
                        at least X days apart.</li>
                        <li><strong>Past due vaccine:</strong> X dose of
                        VAX, due by DATE is missing.</li>
                    </ul>
                </div>
            </div><%else %>
            <div class="callout alert">
                <svg width="70" height="70" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5-103 385.5-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103zm128 1247v-190q0-14-9-23.5t-22-9.5h-192q-13 0-23 10t-10 23v190q0 13 10 23t23 10h192q13 0 22-9.5t9-23.5zm-2-344l18-621q0-12-10-18-10-8-24-8h-220q-14 0-24 8-10 6-10 18l17 621q0 10 10 17.5t24 7.5h185q14 0 23.5-7.5t10.5-17.5z" fill="#fff"/></svg>
                <div class="explanation">
                    <h2>Vaccine Due</h2>
                    <p>The patient requires additional vaccines.</p>
                    <ul>
                        <li><strong>Invalid vaccine:</strong> the VAX
                        dose given on DATE was not valid, because it was given
                        X days after the first dose. These doses must be given
                        at least X days apart.</li>
                        <li><strong>Past due vaccine:</strong> X dose of
                        VAX, due by DATE is missing.</li>
                    </ul>
                </div>
            </div><%end %>
        </div>
    </div><!-- temp for demo -->
    <div class="row align-center">
        <div class="card columns small-12 large-8 medium-8 small-centered vaccine-record">
            <h3 class="float-left">Vaccine Record</h3>
            <%= link_to "Print Record", '#', :onclick => 'window.print();return false;', class: "button float-right margin-bottom-10"  %>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Hepatitis B</th>
                        <% if @patient.get_vaccine_doses(["DTHI", "HAV1", "HAV3", "HAV4", "HAV5", "HAV6", "HAV9", "HBIG", "HBV1", "HBV3", "HBV6", "HBV9", "HepB"]).length == 0 %>
                            <th>no</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <%@patient.get_vaccine_doses(["DTHI", "HAV1", "HAV3", "HAV4", "HAV5", "HAV6", "HAV9", "HBIG", "HBV1", "HBV3", "HBV6", "HBV9", "HepB"]).each do |individual_vaccine| %>
                    <tr>
                        <td><%= individual_vaccine.vaccine_code %></td>
                        <td><%= individual_vaccine.mvx_code %></td>
                        <td>
                        <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                        <td>
                        <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                        <td>
                        <%= individual_vaccine.time_since_vaccine_dose %></td>
                        <td>HD</td>
                    </tr><%end %>
                </tbody>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Diptheria, Tetanus, Pertussis</th>
                        <% if @patient.get_vaccine_doses(["DTHI", "DTI", "TDP9", "TDP1", "TDP2", "TDP9", "Td", "DTaP", "TD4", "TD2", "TD9", "DHI", "TD5", "TDP4", "DTP"]).length == 0 %>
                            <th>no</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["DTHI", "DTI", "TDP9", "TDP1", "TDP2", "TDP9", "Td", "DTaP", "TD4", "TD2", "TD9", "DHI", "TD5", "TDP4", "DTP"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Haemophilius influenzae type b</th>
                        <% if @patient.get_vaccine_doses(["DHI", "PRPO", "PRPT", "HIB", "HIB2"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["DHI", "PRPO", "PRPT", "HIB", "HIB2"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Polio</th>
                        <% if @patient.get_vaccine_doses(["DTHI", "DTI", "DHI", "POL", "IPV"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["DTHI", "DTI", "DHI", "POL", "IPV"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Pneumococcal</th>
                        <% if @patient.get_vaccine_doses(["PPV2", "PCV4", "PCV2", "PCV9", "PCV", "PPV1", "PPV9", "PPV2"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["PPV2", "PCV4", "PCV2", "PCV9", "PCV", "PPV1", "PPV9", "PPV2"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Rotavirus</th>
                        <% if @patient.get_vaccine_doses(["ROT1", "ROT2", "ROTA"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["ROT1", "ROT2", "ROTA"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Varicella</th>
                        <% if @patient.get_vaccine_doses(["VAR1", "VAR2", "VAR4", "VAR9"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["VAR1", "VAR2", "VAR4", "VAR9"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Measles, Mumps, Rubella</th>
                        <% if @patient.get_vaccine_doses(["MMR", "MMR1", "MMR3", "MMR9", "MMRV"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["MMR", "MMR1", "MMR3", "MMR9", "MMRV"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Hepatitis A</th>
                        <% if @patient.get_vaccine_doses(["HAV1", "HAV3", "HAV4", "HAV5", "HAV6", "HAV9", "TWN1", "TWN3", "TWNz"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["HAV1", "HAV3", "HAV4", "HAV5", "HAV6", "HAV9", "TWN1", "TWN3", "TWNz"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Meningococcal</th>
                        <% if @patient.get_vaccine_doses(["MCV3", "MCV4", "MCV5", "MCV6", "MCV7", "MCV9"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["MCV3", "MCV4", "MCV5", "MCV6", "MCV7", "MCV9"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Human Papillomavirus</th>
                        <% if @patient.get_vaccine_doses(["HPV", "HPV3", "HPV5", "HPV6", "HPV9"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["HPV", "HPV3", "HPV5", "HPV6", "HPV9"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <hr>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Influenza</th>
                        <% if @patient.get_vaccine_doses(["FL10", "FL11", "FL14", "FLU", "FLU6", "FLU7", "FLU8", "FLU9", "FLUZ", "FLZ", "H1N4"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead><%@patient.get_vaccine_doses(["FL10", "FL11", "FL14", "FLU", "FLU6", "FLU7", "FLU8", "FLU9", "FLUZ", "FLZ", "H1N4"]).each do |individual_vaccine| %>
                <tr>
                    <td><%= individual_vaccine.vaccine_code %></td>
                    <td><%= individual_vaccine.mvx_code %></td>
                    <td>
                    <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                    <td>
                    <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                    <td><%= individual_vaccine.time_since_vaccine_dose %></td>
                    <td>HD</td>
                </tr><%end %>
            </table>
            <table class="hover">
                <thead>
                    <tr>
                        <th class="vax-name">Travel &amp; Other</th>
                        <% if @patient.get_vaccine_doses(["YFV", "TYP", "TWNz", "TWN3", "TWN1", "RAB1", "PPD9", "PPD1"]).length == 0 %>
                            <th class="no-dose">No doses recorded</th>
                        <% else %>
                            <th>Trade Name</th>
                            <th>Date Given</th>
                            <th>Age</th>
                            <th>Time Past</th>
                            <th>Provider</th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <%@patient.get_vaccine_doses(["YFV", "TYP", "TWNz", "TWN3", "TWN1", "RAB1", "PPD9", "PPD1"]).each do |individual_vaccine| %>
                    <tr>
                        <td><%= individual_vaccine.vaccine_code %></td>
                        <td><%= individual_vaccine.mvx_code %></td>
                        <td>
                        <%= individual_vaccine.date_administered.strftime("%m/%d/%Y") %></td>
                        <td>
                        <%= individual_vaccine.patient_age_at_vaccine_dose %></td>
                        <td>
                        <%= individual_vaccine.time_since_vaccine_dose %></td>
                        <td>HD</td>
                    </tr><%end %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>