<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/52bde5b34d.js"></script>

    <title><%= content_for?(:title) ? yield(:title) : "ShotBot" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <strong>RecordCheck</strong>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <% if @patient || @patients %>
              <li><%= link_to "New Search", patients_path %></li>
              <li><%= link_to "Log Out", controller: "welcome", action: "index" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer class="footer">
      <div class="row">
        <div class="columns small-8 small-centered ">
          A project of <a href='https://www.codeforamerica.org/why-government/our-partners/kansas-city-mo'>Code for America</a> for the <a href="http://kcmo.gov/health/">KCMO</a> Health Department
        </div>
      </div>
    </footer>
  </body>
</html>
