<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/52bde5b34d.js"></script>

    <title><%= content_for?(:title) ? yield(:title) : "ReqCheck" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag    "print", media: "print" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <strong><%= link_to "ReqCheck", root_url %></strong>
      </div>
      <div>
        <div class="top-bar-right">
            <% if @patient || @patients %>
              <% if @patient %>
              <%= link_to "New Search", patients_path, class: "button"  %>
              <% end %>
              <%= link_to "Log Out", {controller: "welcome", action: "index"}, class: "button secondary" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="row align-center">
        <div class="columns small-8">
          A project of <a href='https://www.codeforamerica.org/why-government/our-partners/kansas-city-mo'>Code for America</a> for the <a href="http://kcmo.gov/health/">Kansas City</a> Health Department
        </div>
      </div>
    </footer>
  </body>
</html>
