<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ShotBot" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <strong>ShotBot</strong>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer class="footer">
      <div class="row">
        <div class="columns small-8 small-centered ">
          A project of <a href='https://www.codeforamerica.org/why-government/our-partners/long-beach-ca/'>Code for America</a> for the <a href="http://kcmo.gov/">KCMO</a> Health Department
        </div>
      </div>
    </footer>
  </body>
</html>
